@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  color: #2d3440;

  background-color: #feafc3;
}

img {
  max-width: 100%;

  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-container {
  display: -ms-grid;
  display:     grid;

  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  row-gap: 80px;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: block;
  width: 152px;
  padding: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  color: #2d3440;
  text-decoration: none;

  background-color: #fcfcfc;
  border: 2px solid transparent;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
          box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  -webkit-box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
          box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:active {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
  outline: none;
  -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
          box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  outline: none;
  -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
          box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
  color: #b9b9b9;

  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button-other {
  color: #fcfcfc;

  background-color: #ff2f64;
  border: 2px solid transparent;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button-other:hover {
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
}

.button-other:active {
  color: #fcfcfc;

  background-color: #feafc3;
  border: 2px solid #2d3440;
  outline: none;
  -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
          box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-other:focus {
  color: #fcfcfc;

  background-color: #ff2f64;
  border: 2px solid #2d3440;
  outline: none;
  -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
          box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-other:disabled {
  color: #565c66;

  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

.button-load {
  padding-right: 35px;

  background-color: #fcfcfc;
  background-image: url("../img/icon-load.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
          box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-other-load {
  padding-right: 35px;

  background-color: #ff2f64;
  background-image: url("../img/icon-white-load.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  -webkit-box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
          box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-filter {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  outline: 2px solid #fcfcfc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-filter:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-filter:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-filter:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid transparent;
  outline: 2px solid #2d3440;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-filter:disabled {
  color: #2d3440;

  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #fcfcfc;
  opacity: 0.4;
}

.title-block {
  margin: 0;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 0;
}

.navigation-logo {
  display: block;
  width: 137px;
  height: 56px;
  margin-right: 15px;
}

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-list {
  display: -ms-grid;
  display:     grid;

  -ms-grid-columns: (auto) [3];
  grid-template-columns: repeat(3, auto);
}

.navigation-item {
  position: relative;

  padding: 5px 0;
}

.navigation-link {
  display: inline-block;
  padding: 7px 15px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  color: #2d3440;
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 30px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  outline: none;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border: 2px solid transparent;
}

.navigation-link-current {
  color: #fcfcfc;

  background-color: #ff4a78;
}

.navigation-list-drop {
  position: absolute;
  top: 100%;
  z-index: 10;

  display: none;
  width: 135px;
  padding: 16px 0 7px;

  background-color: #fcfcfc;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
          box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.navigation-item-drop:hover .navigation-list-drop,
.navigation-item-drop:focus-within .navigation-list-drop {
  display: block;
}

.navigation-drop-title {
  margin: 0 16px;
  padding: 0 0 13px;

  font-size: 14px;
  line-height: 20px;

  border-bottom: 1px solid #b9b9b9;
}

.navigation-drop-list {
  padding-top: 6px;
}

.navigation-drop-item {
  margin-bottom: 4px;
}

.navigation-drop-link {
  display: block;
  padding: 4px 10px 4px 18px;

  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.navigation-drop-link:hover {
  background-color: #ffcbd8;
}

.navigation-drop-link:active,
.navigation-drop-link:focus {
  background-color: #ff7799;
  outline: none;
}

.navigation-drop-link-current {
  color: #fcfcfc;

  background-color: #ff4a78;
}

.navigation-user-link-phone {
  display: inline-block;
  margin-left: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  color: #2d3440;
  text-decoration: none;
}

.navigation-user-link-phone:hover,
.navigation-user-link-phone:focus {
  color: #000000;

  outline: none;
}

.navigation-user-link-phone:active {
  opacity: 0.5;
}

.navigation-user {
  display: -ms-grid;
  display:     grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -ms-grid-columns: (auto) [4];
  grid-template-columns: repeat(4, auto);
}

.navigation-user-item {
  position: relative;

  margin-left: 16px;
  padding: 8px 0;
}

.navigation-user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 13px;

  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid transparent;
  border-radius: 30px;
}

.navigation-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-user-link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
  outline: none;
}

.navigation-user-link:active {
  background-color: #fcfcfc;
  border: 2px solid transparent;
}

.navigation-user-link span {
  margin-left: 9px;
}

.navigation-user-link-search {
  width: 32px;
  height: 32px;
  padding: 0;
}

.navigation-user-link-current,
.navigation-user-link-current:focus {
  color: #fcfcfc;

  background-color: #ff4a78;
  border: 2px solid transparent;
}

.navigation-user-container {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;

  display: none;
  width: 356px;
  padding: 24px 16px;

  background-color: #fcfcfc;
  border-radius: 4px;
}

.navigation-user-container-open {
  display: block;
}

.navigation-user-title {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}

.login {
  width: 420px;
  padding: 30px 48px 48px;
}

.login .form-input {
  margin-bottom: 16px;
}

.login-wrapper {
  display: -ms-grid;
  display:     grid;
  padding-top: 15px;

  gap: 20px;
  -ms-grid-columns: auto 20px auto;
  grid-template-columns: repeat(2, auto);
}

.login .button {
  width: 113px;
}

.login-link {
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  vertical-align: baseline;
  color: #2d3440;
  text-decoration: none;

  border-bottom: 1px solid #2d3440;
}

.login-link:hover,
.login-link:focus {
  color: #000000;

  outline: none;
}

.login-link:active {
  opacity: 0.5;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 5px 15px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  color: #2d3440;

  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.form-input::-webkit-input-placeholder {
  color: #b9b9b9;
}

.form-input::-moz-placeholder {
  color: #b9b9b9;
}

.form-input:-ms-input-placeholder {
  color: #b9b9b9;
}

.form-input::-ms-input-placeholder {
  color: #b9b9b9;
}

.form-input::placeholder {
  color: #b9b9b9;
}

.form-input:hover {
  border: 1px solid #2d3440;
}

.form-input:focus {
  border: 1px solid #2d3440;
  outline: 1px solid #2d3440;
}

.form-input-error {
  border: 1px solid #ea5454;
}

.form-input-error:hover {
  border: 1px solid #ea5454;
  outline: 1px solid #ea5454;
}

.form-input:disabled {
  color: rgba(45, 52, 64, 0.65);

  background-color: #e7e7e7;
}

.form-input:disabled:hover {
  color: #2d3440;

  border: 1px solid #b9b9b9;
}

.card {
  width: 441px;
  padding: 30px 48px 48px;
}

.card-list {
  padding-bottom: 5px;

  border-bottom: 1px solid #e7e7e7;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.card-img {
  width: 46px;
  height: 46px;
  margin-right: 16px;
}

.card-title {
  display: block;
  margin-bottom: 3px;

  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  text-decoration: none;
}

.card-title:hover,
.card-title:focus {
  color: #000000;

  outline: none;
}

.card-title:active {
  opacity: 0.5;
}

.card-descript-text {
  color: #b9b9b9;
}

.card-price {
  display: inline-block;
  margin: 0 57px 0 auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}

.card-delete {
  width: 10px;
  height: 10px;

  background-color: transparent;
  background-image: url("../img/icon-delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.card-delete:hover,
.card-delete:focus {
  outline: none;
  opacity: 0.8;
}

.card-delete:active {
  opacity: 0.5;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
}

.card .button {
  width: 198px;
}

.card-total {
  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}

.card-empty {
  width: 288px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slider {
  position: relative;
}

.slider-container {
  display: -ms-grid;
  display:     grid;
  padding-top: 20px;

  -ms-grid-columns: 540px auto;
  grid-template-columns: 540px auto;
}

.slider-item {
  display: none;
  width: 540px;
  padding: 86px 30px 115px 70px;
}

.slider-item-active {
  display: block;
}

.slider-title {
  margin-bottom: 25px;

  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-item p {
  width: 414px;
  margin-bottom: 47px;

  font-size: 18px;
  line-height: 24px;
}

.slider .button {
  width: 139px;
}

.slider-thumbnail {
  display: -ms-grid;
  display:     grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  gap: 40px;
  -ms-grid-columns: 350px 40px 100px 40px 100px;
  grid-template-columns: 350px 100px 100px;
}

.slider-thumbnail-item {
  position: relative;

  width: 100px;
  height: 150px;

  opacity: 0.4;
}

.slider-thumbnail-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 100px;
  height: 100px;

  background-color: #ffcbd8;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-thumbnail-item img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.slider-thumbnail-item-active {
  width: 350px;
  height: 507px;
  padding: 0 20px;

  opacity: 1;
}

.slider-thumbnail-item-active::before {
  width: 312px;
  height: 312px;

  opacity: 1;
}

.slider-bullet {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  padding: 0;

  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slider-bullet:hover {
  border: 1px solid #fcfcfc;
}

.slider-bullet:focus {
  border: 1px solid #2d3440;
  outline: none;
}

.slider-bullet:active {
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-bullet-active {
  background-color: #fcfcfc;
}

.slider-control {
  position: relative;
}

.slider-navigation-arrow {
  position: absolute;
  top: 50%;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 350px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  height: 38px;

  color: #fcfcfc;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
}

.slider-arrow:hover {
  color: #2d3440;

  background-color: #fcfcfc;
}

.slider-arrow:active {
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.5);
}

.slider-arrow:focus {
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  outline: none;
}

.slider-arrow:disabled {
  color: #fcfcfc;

  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  opacity: 0.4;
}

.slider-arrow-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-social {
  position: absolute;
  right: 0;
  bottom: 0;
}

.social {
  display: -ms-grid;
  display:     grid;

  gap: 16px;
  -ms-grid-columns: 24px 16px 24px 16px 24px;
  grid-template-columns: repeat(3, 24px);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24px;
  height: 24px;

  color: #fcfcfc;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.social-link:hover {
  background-color: #2d3440;
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.social-link:active {
  opacity: 0.5;
}

.social-link:focus {
  background-color: #2d3440;
  outline: 2px solid #2d3440;
}

.present .title-block {
  max-width: 434px;
  margin: 0 auto 53px;
}

.present-list {
  display: -ms-grid;
  display:     grid;

  gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.present-item {
  min-height: 268px;
  padding: 18px 210px 18px 36px;

  background-color: #ff7799;
  border-radius: 16px;
}

.present-item-raspberry {
  background-image: url("../../img/present-raspberry.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.present-item-marshmallow {
  background-image: url("../img/present-marshmallow.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.present-title {
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.present-description {
  margin-bottom: 29px;
}

.present .button {
  width: 176px;
}

.product {
  padding-top: 5px;
}

.product-page {
  padding-top: 28px;
  padding-bottom: 25px;

  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.product .title-block {
  max-width: 527px;
  margin: 0 auto 53px;
}

.product-list {
  display: -ms-grid;
  display:     grid;

  gap: 38px 30px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.product-item {
  padding-top: 53px;

  text-align: center;
}

.product-wrapper {
  height: 100%;
  padding: 25px 40px;

  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-img {
  width: 168px;
  height: 168px;
  margin: -75px auto 16px;
}

.product-img img {
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.product-title {
  margin: 0;

  font-size: 20px;
  line-height: 24px;
}

.product-descript {
  margin-top: 8px;
  margin-bottom: 14px;
}

.product-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;

  color: #fcfcfc;

  background-color: #ff2f64;
  border: 2px solid transparent;
  border-radius: 50%;
}

.product-card:hover {
  color: #000000;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.product-card:active {
  color: #000000;

  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
}

.product-card:focus {
  color: #fcfcfc;

  background-color: #ff2f64;
  border: 2px solid #2d3440;
  outline: none;
}

.product-card:disabled {
  color: #565c66;

  background-color: #b9b9b9;
}

.advantage {
  padding: 24px;

  background-color: #f0e4cb;
  background-image: url("../img/advantage-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.advantage-wrapper {
  padding: 56px 40px 58px;

  background-color: #ffffff;
  border-radius: 16px;
}

.advantage .title-block {
  margin-bottom: 55px;
}

.advantage-list {
  display: -ms-grid;
  display:     grid;

  gap: 38px 30px;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.advantage-item {
  min-height: 48px;
  padding-left: 64px;

  color: #565c66;

  background-repeat: no-repeat;
  background-position: top left;
  background-size: 48px 48px;
}

.advantage-item-production {
  background-image: url("../img/icon-production.svg");
}

.advantage-item-ingredients {
  background-image: url("../img/icon-ingredients.svg");
}

.advantage-item-quality {
  background-image: url("../img/icon-quality.svg");
}

.advantage-item-delivery {
  background-image: url("../img/icon-delivery.svg");
}

.promo {
  display: -ms-grid;
  display:     grid;

  color: #565c66;

  gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.promo-blog {
  height: 100%;
  padding: 33px 220px 33px 32px;

  background-color: #ffffff;
  background-image: url("../img/promo-blog.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  border-radius: 16px;
}

.promo-text {
  margin: 0 0 13px;

  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.promo-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.promo-subscription {
  padding: 6px;

  background-image: url("../img/promo-subcript.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.promo-subscription-wrapper {
  padding: 26px 26px 28px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 16px;
}

.promo-subscription-descript {
  margin-top: 0;
  margin-bottom: 44px;
}

.promo-subscription-form {
  display: -ms-grid;
  display:     grid;

  gap: 22px;
  -ms-grid-columns: 1fr 22px auto;
  grid-template-columns: 1fr auto;
}

.promo .button {
  width: 152px;
}

.delivery {
  display: -ms-grid;
  display:     grid;
  padding: 64px;

  -webkit-column-gap: 92px;
     -moz-column-gap: 92px;
          column-gap: 92px;

  background-color: #ffffff;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;

  -ms-grid-columns: auto 92px auto;
  grid-template-columns: auto auto;
}

.delivery-descript {
  width: 450px;
  padding: 104px 36px 10px;
}

.delivery .title-block {
  margin-bottom: 23px;

  text-align: left;
}

.delivery-form {
  padding: 25px 40px 42px;

  background-color: #fcfcfc;
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
          box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-form form {
  display: -ms-grid;
  display:     grid;
  padding-top: 15px;

  gap: 20px 16px;
  -ms-grid-columns: 117px 16px 1fr;
  grid-template-columns: 117px 1fr;
}

.delivery-form-label {
  display: inline-block;
  margin-bottom: 7px;

  font-weight: 700;
  line-height: 20px;
}

.delivery-form-container-address {
  grid-column: 1/-1;
}

.delivery-form textarea {
  padding: 12px 15px;

  resize: none;
}

.delivery-form .button {
  margin: 6px auto 0;

  grid-column: 1/-1;
}

.delivery-form-tooltip {
  position: relative;

  display: inline-block;
}

.delivery-tooltip {
  position: absolute;
  top: 4px;
  right: 0;
}

.delivery-tooltip-toggle {
  position: absolute;
  top: 0;
  left: 6px;

  width: 12px;
  height: 12px;

  background-color: transparent;
  background-image: url("../img/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.delivery-tooltip-text {
  position: absolute;
  top: -18px;
  left: 30px;

  display: none;
  width: 150px;
  margin: 0;
  padding: 10px 8px 10px 15px;

  font-size: 12px;
  line-height: 16px;
  color: #565c66;

  background-color: #fcfcfc;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  -webkit-box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
          box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
}

.delivery-tooltip-text::after {
  content: "";
  position: absolute;
  top: 16px;
  left: -8px;

  width: 14px;
  height: 14px;

  background: #fcfcfc;
  border: 1px solid #b9b9b9;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.delivery-tooltip-toggle:hover ~ .delivery-tooltip-text {
  display: block;
}

.contacts {
  padding: 64px;
  background-color: #ffffff;
  background-image: url("../img/feedback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.contacts-container {
  width: 343px;
  padding: 40px;

  background-color: #fcfcfc;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
          box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts-text {
  margin: 0;

  color: #565c66;
}

.contacts-address {
  margin: 13px 0 24px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  display: inline-block;
  margin-top: 13px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.contacts-text-small {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.contacts .button {
  width: 250px;
  margin-top: 32px;
}

.breadcrumbs {
  padding-top: 30px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 29px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -19px;

  width: 7px;
  height: 6px;

  background-image: url("../img/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;

  border-bottom: 1px solid transparent;
}

.breadcrumbs-link:hover {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-link:focus {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-link:active {
  opacity: 0.5;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs .title-block {
  text-align: left;
}

.filter {
  padding-top: 39px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.filter-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 24px 15px 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  border: none;
}

.filter-title {
  margin: 0 0 7px;
  padding-left: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.filter-sorting {
  width: 196px;
  height: 36px;
  padding: 0 40px 0 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  color: #2d3440;

  background: rgba(252, 252, 252, 0.3);
  background-image: url("../img/icon-arrow-select.svg");
  background-repeat: no-repeat;
  background-position: center right 11px;
  border: 2px solid transparent;
  border-radius: 26px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-sorting:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.filter-sorting:disabled {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.filter-sorting:focus {
  background-color: rgba(252, 252, 252, 0.4);
  border: 2px solid #fcfcfc;
  outline: none;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.range-input {
  width: 30px;
  margin: 0 -4px 0 -2px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  color: #2d3440;

  background-color: transparent;
  border: none;

  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
          appearance: none;
}

.range-wrapper-inputs span {
  margin: 0 5px;
}

.range {
  position: relative;

  width: 196px;
  height: 36px;
  padding: 10px 16px;

  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  top: 50%;
  left: 50%;

  width: 164px;
  height: 2px;

  background-color: rgba(86, 92, 102, 0.3);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-bar {
  position: absolute;
  top: 50%;
  right: 52px;
  left: 24px;

  height: 2px;

  background-color: #565c66;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.range-toggle {
  position: absolute;
  top: 50%;

  width: 16px;
  height: 16px;

  background-color: #2d3440;
  border: none;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  background-color: #fcfcfc;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-toggle:hover {
  background-color: #fcfcfc;
}

.range-toggle:hover::after {
  background-color: #2d3440;
}

.range-toggle:focus {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.range-toggle:focus::after {
  background-color: #2d3440;
}

.range-toggle:active {
  background: #2d3440;
  outline: none;
}

.range-toggle:active::after {
  background-color: #2d3440;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  right: 0;
}

.filter-fat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 24px 8px;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.filter-fat-item:not(:last-child) {
  margin-right: 16px;
}

.filter-label {
  position: relative;
}

.filter-label-radio {
  padding-left: 25px;
}

.filter-label-radio::before,
.filter-label-radio::after {
  content: "";
  position: absolute;

  border-radius: 50%;
}

.filter-label-radio::before {
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 1px solid #2d3440;
}

.filter-label-radio::after {
  top: 5px;
  left: 5px;

  display: none;
  width: 6px;
  height: 6px;

  background-color: #2d3440;
}

.filter-fat-input:checked ~ .filter-label-radio::after {
  display: block;
}

.filter-label-radio:hover::before {
  border: 1px solid #fcfcfc;
  outline: none;
}

.filter-label-radio:hover::after {
  background-color: #fcfcfc;
  outline: none;
}

.filter-fat-input:focus ~ .filter-label-radio::before {
  border: 1px solid #fcfcfc;
  outline: none;
}

.filter-fat-input:focus ~ .filter-label-radio::after {
  background-color: #fcfcfc;
  outline: none;
}

.filter-label-radio:active::before {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.filter-label-radio:active::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.filter-fat-input:disabled ~ .filter-label-radio::before {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.filter-fat-input:disabled ~ .filter-label-radio::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.filter-fillers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 11px 24px 9px;

  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.filter-fillers-item:not(:last-child) {
  margin-right: 16px;
}

.filter-label-check {
  padding-left: 25px;
}

.filter-label-check::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  background-color: #2d3440;

  -webkit-mask-image: url("../img/icon-check.svg");
          mask-image: url("../img/icon-check.svg");
}

.filter-fillers-input:checked ~ .filter-label-check::after {
  -webkit-mask-image: url("../img/icon-check-checked.svg");
          mask-image: url("../img/icon-check-checked.svg");
}

.filter-label-check:hover::after {
  background-color: #fcfcfc;
}

.filter-fillers-input:focus ~ .filter-label-check::after {
  background-color: #fcfcfc;
}

.filter-fillers-input:focus ~ .filter-label-check:active::after {
  background-color: rgba(45, 52, 64, 0.5);
}

.filter-label-check:active::after {
  background-color: rgba(45, 52, 64, 0.5);
}

.filter-fillers-input:disabled ~ .filter-label-check::after {
  background-color: rgba(45, 52, 64, 0.5);
}

.filter .button {
  width: 185px;
  margin-bottom: 15px;
  margin-left: -8px;
  padding: 7px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.pagination {
  position: relative;

  padding: 58px 0 58px;
}

.pagination .button {
  width: 179px;
  margin: 0 auto;
}

.pagination-container {
  position: absolute;
  top: 50%;
  right: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 200px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;

  line-height: 20px;
  color: #2d3440;
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 76px;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background: rgba(252, 252, 252, 0.5);
  border: 1px solid #fcfcfc;
}

.pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2d3440;
  outline: none;
}

.pagination-link-current {
  background-color: #fcfcfc;
}

.pagination-arrow {
  width: 16px;
  height: 16px;

  color: #2d3440;

  background-color: transparent;
  border: none;
}

.pagination-arrow-prev {
  margin-right: 8px;

  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.pagination-arrow-next {
  margin-left: 8px;
}

.pagination-arrow:disabled {
  color: rgba(45, 52, 64, 0.3);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 44px 3px 20px;
}

.footer-links {
  display: -ms-grid;
  display:     grid;
  margin: 0 auto 0 300px;

  gap: 5px 3px;
  -ms-grid-columns: auto 3px auto;
  grid-template-columns: repeat(2, auto);
}

.footer-links-link {
  display: inline-block;
  padding-left: 23px;

  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.footer-links-link:hover,
.footer-links-link:focus {
  text-decoration: underline;
}

.footer-links-link:active {
  opacity: 0.5;
}

.footer-links-link-like {
  font-weight: 700;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.footer-copyright {
  padding: 2px 11px;
}

.footer-logo {
  display: block;
  width: 93px;
  height: 27px;

  color: #2d3440;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #000000;
}

.footer-logo:active {
  opacity: 0.5;
}

.footer-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-text a {
  color: #2d3440;
  text-decoration: none;

  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

.footer-copyright-text a:hover,
.footer-copyright-text a:focus {
  border-bottom: 1px solid #2d3440;
}

.footer-copyright-text a:active {
  opacity: 0.5;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  position: relative;

  margin: auto;
  padding: 40px;

  background: #fcfcfc;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
          box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-auth {
  width: 570px;
  padding: 49px 64px 70px;
}

.modal-close-button {
  position: absolute;
  top: 27px;
  right: 27px;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: #ffffff;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-form {
  display: -ms-grid;
  display:     grid;
  padding-top: 15px;

  gap: 16px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.modal-form textarea {
  height: 146px;
  padding-top: 13px;

  resize: none;
}

.modal-content .button-other {
  margin-top: 16px;
  margin-left: auto;
}
