@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2") format("woff2");
    font-display: swap;
  }
 
  body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FEAFC3;
  }

  .page-header {
    color: #FEAFC3;
    background-color: #2D3440;
  }

  .navigation-link {
    font-family: "Inter", sans-serif;
    line-height: 20px;
    color: #2D3440;
    font-weight: 400;
    text-align: center;
    background-color: #FEAFC3;
    text-decoration: none;
    text-transform: uppercase;
  }

  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;

    object-fit: cover;
    object-position: center;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.list-reset {
    margin: 0;
    padding: 0;

    list-style: none;
}

body {
    font-family: "Inter", "sant-serif";
    font-size: 16px;
    line-height: 24px;
    color: #2D3440;
    background: #FEAFC3;
}

.navigation-link {
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.navigation-user {
    width: auto;
}

.navigation-user-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.navigation-link-phone {
    font-weight: 700;
    line-height: 24px;
    color: #2D3440;
    text-decoration: none;
}

.navigation {
    display: flex;
    width: 100%;
}

.navigation-link-phone {
    margin-left: auto;
}

.navigation-list {
    max-width: 1170px;
    display: flex;
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    width: 470px;
    height: 92px;
}

.slider-text {
    font-weight: 400;
    font-size: 18px;
    width: 414px;
    height: 72px;
}

.button {
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.button-main {
    color: #2D3440;
}

.button-other {
    color: #FCFCFC;
}

.title-main {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 55px;
}

.gift {
    margin-bottom: 80px;
}

.gift-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.gift-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.gift-item {
    border-radius: 16px;
    height: 100%;
    padding-right: 206px;
}
.gift-discription {
    font-weight: 400;
    line-height: 22px;
}

.gift-item-raspberry {
    background-image: url("../images/raspberry.png");
    background-repeat: no-repeat;
    background-position: right;
}

.gift-item-marshmallow {
    background-image: url("../images/marshmallow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.product-img {
    width: 168px;
    height: 168px;
    margin: -75px auto 16px;
  }
  
  .product-img img {
    display: block;
    width: 100%;
    height: 100%;
  
    border-radius: 50%;
  }

.product-title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.product-descript {
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.product-wrapper {
    height: 100%;
    padding: 25px 40px;
  
    background-color: #fcfcfc;
    border-radius: 8px;
  }
.product-price {
    font-weight: 700;
    font-size: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 38px 30px;
}
.product-item {
    padding-top: 53px;
  
    text-align: center;
  }

.advantages {
    background-image: url("../images/");
    border-radius: 16px;
    padding: 24px;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 80px;
}

.advantages-container {
    background: #FFFFFF;
    padding-top: 56px;
    padding-left: 40px;
    padding-right: 56px;
    padding-bottom: 40px;
    border-radius: 16px;
    width: 1122px;
}

.advantages-list {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
    text-align: left;
    display: grid;
    gap: 38px 30px;
    grid-template-columns: repeat(2, 1fr);
}

.advantage-item {
padding-left: 40px;
}
.news {
    background-image: url("../images/blog.jpg");
    border-radius: 16px;
}

.header-news {
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}

.news-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #2D3440;
    text-decoration: none;
}

.news-subscription {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}

.subscription {
    background-image: url("../images/");
    border-radius: 16px;
    padding: 6px;
}

.subsription-form {
    display: grid;
  
    gap: 22px;
    grid-template-columns: 1fr auto;
  }
  
  .subsription-form .button {
    width: 152px;
  }

.subscription-container {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 26px;
}

.subscription-discription {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
    text-align: left;
}

.form-input {
    width: 100%;
    height: 48px;
    padding: 5px 15px;
  
    font-size: 16px;
    line-height: 20px;
    font-family: "inter";
    color: #2d3440;
  
    background-color: #ffffff;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
  }

.appointment {
    background-image: url("../images/delivery.jpg");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

}

.appointment-form {
    display: grid;
    gap: 20px 16px;
    grid-template-columns: 117px 1fr;
}

.appointment-form-address {
    grid-column: 1/-1;
}

.appointment-form-container {
    width: 500px;
    background: #FCFCFC;
}

.appointment-form label {
    font-weight: 700;
    line-height: 20px;
}
.appointment-container {
    width: 371px;
}

.contacts {
    background-image: url("../images/");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts-text {
    color: #565C66;
    font-weight: 400;
    line-height: 22px;
}

.contacts-address {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.contacts-phone {
    font-weight: 700;
    font-size: 20px;
    color: #2D3440;
    text-decoration: none;
}

.contacts-container {
    background-color: #FCFCFC;
    width: 343px;
}

.footer-information {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px 3px;
}

.footer-information-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    padding-left: 9px;
}

.footer-information-link-like {
    font-weight: 700;
}

.footer-copyright-text {
    font-size: 12px;
    line-height: 16px;
  }
  
  .footer-copyright-text a {
    color: #2d3440;
    text-decoration: none;
  
    border-bottom: 1px solid rgba(45, 52, 64, 0.5);
  }

.footer-logo {
    display: block;
    width: 93px;
    height: 27px;
}

.breadcrumbs-item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.breadcrumbs-list {
    display: flex;
}
.catalog-filter-group h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
}

.pagination-link {
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.page-header {
    width: 1170px;
    display: flex;
    margin: 0 auto;
}

.logo {
   width: 137px;
   height: 56px;
   display: inline-block;
   flex-shrink: 0;
}

.main {
    width: 1170px;
    margin: 0 auto;
}

.footer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.slider {
    justify-content: space-between;
    padding: 70px;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    margin-left: 21px;
    position: relative;
}
.slider-item {
    display: none;
}

.slider-item-active {
    display: block;
}

.slider-thumbnail {
    display: grid;
    align-items: center;
  
    gap: 40px;
    grid-template-columns: 350px 100px 100px;
  }

.slider-thumbnail-item {
    width: 66px;
    height: 150px;
    display: inline-block;
    flex-shrink: 0;
}

.slider-thumbnail-item-actice {
    width: 306px;
    height: 507px;
}

.slider-thumbnail-item img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

.slider-description {
    width: 470px;
}

.slider-social {
    position: absolute;
    right: 0;
    bottom: 0;
   }

.catalog-filter-list {
    display: flex;
}

.pagination {
    position: relative;
}

.pagination-container {
    position: absolute;
    top: 50%;
    right: 0;
  
    display: flex;
    align-items: center;
  
    transform: translateY(-50%);
  }

.pagination-list {
    display: flex;
}

.social {
    display: grid;
  
    gap: 16px;
    grid-template-columns: repeat(3, 24px);
  }
  
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  
    color: #fcfcfc;
  
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.3);
  }